.error_container {
  height: 100vh;
  width: 100vw;
  // background-color: rgb(244, 124, 124);
  font-size: calc(1rem + 0.5vw + 0.5vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  text-transform: capitalize;
  button,
  a {
    background-color: inherit;
    color: rgb(0, 255, 4);
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: calc(1rem + 0.5vw + 0.5vh);
  }
}
