*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-one: #212121;
  --color-one: #f6e653;
  --black: black;
  --white: #ffffff;
  --gray: gray;
  --green: #1eb96c;
  --red: red;
  --card-bg-one: linear-gradient(
    to bottom right,
    rgba(162, 161, 161, 0.919),
    rgba(206, 204, 204, 0.705),
    rgba(146, 145, 145, 0.889)
  );
  --card-bg-sec: linear-gradient(
    120deg,
    rgb(101, 99, 99),
    rgb(189, 185, 185),
    rgb(97, 95, 95)
  );
  --card-box-shadow: 10px 10px 15px rgba(85, 82, 82, 0.312),
    -10px -10px 15px rgba(117, 120, 118, 0.315);
  --main-poster-shadow: linear-gradient(to bottom, #21212105, #212121);
}
:root.light {
  --bg-one: #e2e8f0;
  --color-one: #22c55e;
  --white: black;
  --black: white;
  --main-poster-shadow: linear-gradient(to bottom, #8d8c8c05, #e2e8f0);
}

html,
body {
  max-width: 100vw;
}

:root {
  font-size: 62.5%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  /* color: yellow; */
}
.low {
  border: 4px solid rgb(239, 56, 56);
}
.mid {
  border: 4px solid rgb(241, 183, 35);
}
.high {
  border: 4px solid rgb(60, 236, 60);
}
/* ie firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: var(--bg-one);
  color: var(--white);
}

html::-webkit-scrollbar {
  display: none;
  width: 0;
}

body::-webkit-scrollbar-thumb {
  display: none;
}

body::-webkit-scrollbar-track {
  display: none;
}

.home {
  overflow-x: hidden;
  padding-bottom: 0.2px;
  /* background-color: #f6e653; */
}
